<!Doctype HTML>
<html lang = "en-GB">
<head>
    <title>New Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.css"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  var a,b,x=0;

</script>
</head>
<body>
    <form method="POST" action="/display" enctype="multipart/form-data">
  <br>
    {%set count = 0%}
    {% for i in take %}
    {% set rand = Sub.query.filter_by(question_id=i.id).all() %}
    {% set count = count + 1 %}
    
    {% if (rand|length >1)%}

              <div class="container">    
                <div class="card  border border-info " >
                            <div class="card-header mb-0  " >
                              {{i.question}}
                            </div>
                          {% for j in rand %}
                              <div class="card-body" >
                              <div class="" id = "{{i.id}}_{{j.id}}">
                                <p>{{j.sub_qstn}}</p>
                              </div>
                            
                              <div class="card-body">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input required type="radio" id="option1for{{i.id}}_{{j.id}}" value = "{{j.option1}}" onchange="makegreen({{i.id}},{{j.id}})" name="optionsfor{{i.id}}{{j.id}}" class="custom-control-input">
                                    <label class="custom-control-label" for="option1for{{i.id}}_{{j.id}}">{{j.option1}}</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input required type="radio" id="option2for{{i.id}}_{{j.id}}" value = "{{j.option2}}" name="optionsfor{{i.id}}{{j.id}}" class="custom-control-input">
                                    <label class="custom-control-label" for="option2for{{i.id}}_{{j.id}}">{{j.option2}}</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input required type="radio" id="option3for{{i.id}}_{{j.id}}" value = "{{j.option3}}" name="optionsfor{{i.id}}{{j.id}}" class="custom-control-input">
                                    <label class="custom-control-label" for="option3for{{i.id}}_{{j.id}}">{{j.option3}}</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input required type="radio" id="option4for{{i.id}}_{{j.id}}" value = "{{j.option4}}" name="optionsfor{{i.id}}{{j.id}}"  class="custom-control-input">
                                    <label class="custom-control-label" for="option4for{{i.id}}_{{j.id}}">{{j.option4}}</label>
                                  </div>
                                        
                              </div>
                            </div>
                          {% endfor %}

                                    
                  </div>
                </div>
                <br>


    
    {%else%}

    <div class="container">    
        <div class="card border border-info ">
          <div class="card-body">
            <div class="blockquote mb-0">
              <p>{{i.question}}</p>
            </div>
          
          <div class="card-body">
            <div class="custom-control custom-radio custom-control-inline">
              <input required type="radio" id="option1for{{i.id}}" value = "{{rand[0].option1}}" name="optionsfor{{i.id}}" class="custom-control-input">
                <label class="custom-control-label" for="option1for{{i.id}}">{{rand[0].option1}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input required type="radio" id="option2for{{i.id}}" value = "{{rand[0].option2}}" name="optionsfor{{i.id}}" class="custom-control-input">
              <label class="custom-control-label" for="option2for{{i.id}}">{{rand[0].option2}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input required type="radio" id="option3for{{i.id}}" value = "{{rand[0].option3}}" name="optionsfor{{i.id}}" class="custom-control-input">
                  <label class="custom-control-label" for="option3for{{i.id}}">{{rand[0].option3}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input required type="radio" id="option4for{{i.id}}" value = "{{rand[0].option4}}" name="optionsfor{{i.id}}" class="custom-control-input">
                  <label class="custom-control-label" for="option4for{{i.id}}">{{rand[0].option4}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
      <br>

    {%endif%}
    {% endfor %}
  <div class="container">
    <button class="btn btn-primary" id="submit_btn" type="submit">SUBMIT</button>
  </div>
    </form>
    
                    
</body>
</html>